In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

/usr/local/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
eaa = pd.read_csv("EAA.csv")
sara = pd.read_csv("BexarWaterQualityData.csv")

In [3]:
eaa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14509 entries, 0 to 14508
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date-Time       14509 non-null  object
 1   O2 (Dis) mg/l   12946 non-null  float64
 2   Nephelom NTU    12806 non-null  float64
 3   pH              12665 non-null  float64
 4   Sp Cond µS/cm   12899 non-null  float64
 5   Temperature ¡C  12996 non-null  float64
 6   Name            14509 non-null  object
 7   Latitude        14509 non-null  float64
 8   Longitude       14509 non-null  float64
dtypes: float64(7), object(2)
memory usage: 1020.3+ KB

In [4]:
eaa.isna().sum() / len(eaa) * 100

Date-Time          0.000000
O2 (Dis) mg/l     10.772624
Nephelom NTU      11.737542
pH                12.709353
Sp Cond µS/cm     11.096561
Temperature ¡C    10.428010
Name               0.000000
Latitude           0.000000
Longitude          0.000000
dtype: float64

In [34]:
eaa.head()

,Date-Time,O2 (Dis) mg/l,Nephelom NTU,pH,Sp Cond µS/cm,Temperature ¡C,Name,Latitude,Longitude
114,5/31/2013 0:00,10.87,6.9,7.48,616.142343,24.11,Rio Vista Park,29.8801,-97.93336
115,6/1/2013 0:00,10.91,13.3,7.52,616.681170,24.78,Rio Vista Park,29.8801,-97.93336
116,6/2/2013 0:00,11.04,85.3,7.46,617.033357,24.50,Rio Vista Park,29.8801,-97.93336
117,6/3/2013 0:00,11.13,7.8,7.40,614.028590,24.86,Rio Vista Park,29.8801,-97.93336
118,6/4/2013 0:00,11.06,9.1,7.40,615.791324,24.98,Rio Vista Park,29.8801,-97.93336

In [5]:
sara.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208373 entries, 0 to 208372
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   station_id     208373 non-null  int64
 1   short_desc     208373 non-null  object
 2   long_desc      208373 non-null  object
 3   latitude       208373 non-null  float64
 4   longitude      208373 non-null  float64
 5   tag_id         208373 non-null  object
 6   end_date       208373 non-null  object
 7   end_time       208373 non-null  object
 8   end_depth      208373 non-null  float64
 9   gtlt           19920 non-null   object
 10  result         208373 non-null  object
 11  parameter_cd   208373 non-null  int64
 12  long_desc.1    208373 non-null  object
 13  common_name    76444 non-null   object
 14  common_units   76444 non-null   object
 15  detailed_desc  76444 non-null   object
 16  units          208373 non-null  object
 17  media          208373 non-null  object
 18  method         208373 non-null  object
 19  min_value      0 non-null       float64
 20  max_value      0 non-null       float64
 21  county_name    208373 non-null  object
 22  comment        109941 non-null  object
dtypes: float64(5), int64(2), object(16)
memory usage: 36.6+ MB

In [6]:
prcnt_sara = sara.isna().sum() / len(sara) * 100

prcnt_sara.sort_values(ascending=False)

max_value        100.000000
min_value        100.000000
gtlt              90.440220
detailed_desc     63.313865
common_units      63.313865
common_name       63.313865
comment           47.238366
end_time           0.000000
short_desc         0.000000
long_desc          0.000000
latitude           0.000000
longitude          0.000000
tag_id             0.000000
end_date           0.000000
parameter_cd       0.000000
end_depth          0.000000
result             0.000000
county_name        0.000000
long_desc.1        0.000000
units              0.000000
media              0.000000
method             0.000000
station_id         0.000000
dtype: float64

In [7]:
sara = sara.drop(columns=['max_value', 'min_value'])

In [8]:
sara

,station_id,short_desc,long_desc,latitude,longitude,tag_id,end_date,end_time,end_depth,gtlt,result,parameter_cd,long_desc.1,common_name,common_units,detailed_desc,units,media,method,county_name,comment
0,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,2008-09-18 00:00:00,16:52,0.28,NaN,22.7,10,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",Water Temperature,&deg;C,<p>Water temperature is an important factor in...,DEG C,Water,N/A Calculation,Bexar,Abundant algae
1,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,2008-09-18 00:00:00,16:52,0.28,NaN,0.03,61,"FLOW STREAM, INSTANTANEOUS (CUBIC FEET PER SEC)",NaN,NaN,NaN,CFS,Water,N/A Calculation,Bexar,Abundant algae
2,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,2008-09-18 00:00:00,16:52,0.28,NaN,603,94,"SPECIFIC CONDUCTANCE,FIELD (US/CM @ 25C)","Total Dissolved Solids, Calculated",mg/L,<p>Total Dissolved Solids (TDS) is a measure o...,uS/cm,Water,N/A Calculation,Bexar,Abundant algae
3,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,2008-09-18 00:00:00,16:52,0.28,NaN,3,1351,"FLOW:1=No Flow,2=Low,3=Normal,4=Flood,5=High,6...",NaN,NaN,NaN,NS,Water,N/A Calculation,Bexar,Abundant algae
4,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,2008-09-18 00:00:00,16:52,0.28,NaN,120,31699,"E. COLI, COLILERT, IDEXX METHOD, MPN/100ML",E. coli,MPN/100 mL,<p>These bacteria are typically not harmful to...,MPN/100ml,Water,N/A Calculation,Bexar,Abundant algae
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208368,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,2019-03-11 00:00:00,13:10,0.27,NaN,3,89966,"PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAI...",NaN,NaN,NaN,NS,Other,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208369,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,2019-03-11 00:00:00,13:10,0.27,NaN,3,89969,WATER COLOR 1=BRWN 2=RED 3=GRN 4=BLCK 5=CLR 6=OT,NaN,NaN,NaN,NS,Water,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208370,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,2019-03-11 00:00:00,13:10,0.27,NaN,6,89971,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NaN,NaN,NaN,NU,Water,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208371,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,2019-03-11 00:00:00,13:10,0.27,NaN,0,89978,"RECREATIONAL USE: 1 = PRIMARY CONTACT, OBSERVE...",NaN,NaN,NaN,NU,Other,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208372,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,2019-03-11 00:00:00,13:10,0.27,NaN,0,89979,EVIDENCE OF PRIMARY CONTACT RECREATION (1=OBSE...,NaN,NaN,NaN,NS,Other,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"

In [9]:
eaa.isna().sum() / len(eaa) * 100

Date-Time          0.000000
O2 (Dis) mg/l     10.772624
Nephelom NTU      11.737542
pH                12.709353
Sp Cond µS/cm     11.096561
Temperature ¡C    10.428010
Name               0.000000
Latitude           0.000000
Longitude          0.000000
dtype: float64

In [10]:
eaa = eaa.dropna()

In [11]:
eaa.isna().sum()

Date-Time         0
O2 (Dis) mg/l     0
Nephelom NTU      0
pH                0
Sp Cond µS/cm     0
Temperature ¡C    0
Name              0
Latitude          0
Longitude         0
dtype: int64

In [12]:
sara.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208373 entries, 0 to 208372
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   station_id     208373 non-null  int64
 1   short_desc     208373 non-null  object
 2   long_desc      208373 non-null  object
 3   latitude       208373 non-null  float64
 4   longitude      208373 non-null  float64
 5   tag_id         208373 non-null  object
 6   end_date       208373 non-null  object
 7   end_time       208373 non-null  object
 8   end_depth      208373 non-null  float64
 9   gtlt           19920 non-null   object
 10  result         208373 non-null  object
 11  parameter_cd   208373 non-null  int64
 12  long_desc.1    208373 non-null  object
 13  common_name    76444 non-null   object
 14  common_units   76444 non-null   object
 15  detailed_desc  76444 non-null   object
 16  units          208373 non-null  object
 17  media          208373 non-null  object
 18  method         208373 non-null  object
 19  county_name    208373 non-null  object
 20  comment        109941 non-null  object
dtypes: float64(3), int64(2), object(16)
memory usage: 33.4+ MB

In [13]:
sara['end_date'] = pd.to_datetime(sara['end_date'])

In [14]:
sara['end_date'] = sara['end_date'].dt.strftime('%m/%d/%Y')

In [15]:
sara.head(2)

,station_id,short_desc,long_desc,latitude,longitude,tag_id,end_date,end_time,end_depth,gtlt,result,parameter_cd,long_desc.1,common_name,common_units,detailed_desc,units,media,method,county_name,comment
0,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,22.7,10,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",Water Temperature,&deg;C,<p>Water temperature is an important factor in...,DEG C,Water,N/A Calculation,Bexar,Abundant algae
1,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,0.03,61,"FLOW STREAM, INSTANTANEOUS (CUBIC FEET PER SEC)",NaN,NaN,NaN,CFS,Water,N/A Calculation,Bexar,Abundant algae

In [16]:
sara.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208373 entries, 0 to 208372
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   station_id     208373 non-null  int64
 1   short_desc     208373 non-null  object
 2   long_desc      208373 non-null  object
 3   latitude       208373 non-null  float64
 4   longitude      208373 non-null  float64
 5   tag_id         208373 non-null  object
 6   end_date       208373 non-null  object
 7   end_time       208373 non-null  object
 8   end_depth      208373 non-null  float64
 9   gtlt           19920 non-null   object
 10  result         208373 non-null  object
 11  parameter_cd   208373 non-null  int64
 12  long_desc.1    208373 non-null  object
 13  common_name    76444 non-null   object
 14  common_units   76444 non-null   object
 15  detailed_desc  76444 non-null   object
 16  units          208373 non-null  object
 17  media          208373 non-null  object
 18  method         208373 non-null  object
 19  county_name    208373 non-null  object
 20  comment        109941 non-null  object
dtypes: float64(3), int64(2), object(16)
memory usage: 33.4+ MB

In [17]:
sara2 = sara.sort_values('end_date').set_index("end_date")

In [18]:
sara3 = sara

In [19]:
sara3

,station_id,short_desc,long_desc,latitude,longitude,tag_id,end_date,end_time,end_depth,gtlt,result,parameter_cd,long_desc.1,common_name,common_units,detailed_desc,units,media,method,county_name,comment
0,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,22.7,10,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",Water Temperature,&deg;C,<p>Water temperature is an important factor in...,DEG C,Water,N/A Calculation,Bexar,Abundant algae
1,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,0.03,61,"FLOW STREAM, INSTANTANEOUS (CUBIC FEET PER SEC)",NaN,NaN,NaN,CFS,Water,N/A Calculation,Bexar,Abundant algae
2,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,603,94,"SPECIFIC CONDUCTANCE,FIELD (US/CM @ 25C)","Total Dissolved Solids, Calculated",mg/L,<p>Total Dissolved Solids (TDS) is a measure o...,uS/cm,Water,N/A Calculation,Bexar,Abundant algae
3,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,3,1351,"FLOW:1=No Flow,2=Low,3=Normal,4=Flood,5=High,6...",NaN,NaN,NaN,NS,Water,N/A Calculation,Bexar,Abundant algae
4,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,NaN,120,31699,"E. COLI, COLILERT, IDEXX METHOD, MPN/100ML",E. coli,MPN/100 mL,<p>These bacteria are typically not harmful to...,MPN/100ml,Water,N/A Calculation,Bexar,Abundant algae
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208368,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,NaN,3,89966,"PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAI...",NaN,NaN,NaN,NS,Other,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208369,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,NaN,3,89969,WATER COLOR 1=BRWN 2=RED 3=GRN 4=BLCK 5=CLR 6=OT,NaN,NaN,NaN,NS,Water,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208370,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,NaN,6,89971,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NaN,NaN,NaN,NU,Water,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208371,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,NaN,0,89978,"RECREATIONAL USE: 1 = PRIMARY CONTACT, OBSERVE...",NaN,NaN,NaN,NU,Other,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"
208372,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,NaN,0,89979,EVIDENCE OF PRIMARY CONTACT RECREATION (1=OBSE...,NaN,NaN,NaN,NS,Other,N/A Calculation,Bexar,"As,Ba,Cd,Cr,Cu,Pb,Mn,Ni,Ag,Zn,Sb,Al,Se,Hg"

In [20]:
sara3.isna().sum() / len(sara3) * 100

station_id        0.000000
short_desc        0.000000
long_desc         0.000000
latitude          0.000000
longitude         0.000000
tag_id            0.000000
end_date          0.000000
end_time          0.000000
end_depth         0.000000
gtlt             90.440220
result            0.000000
parameter_cd      0.000000
long_desc.1       0.000000
common_name      63.313865
common_units     63.313865
detailed_desc    63.313865
units             0.000000
media             0.000000
method            0.000000
county_name       0.000000
comment          47.238366
dtype: float64

In [21]:
sara3['common_name'] = sara3['common_name'].fillna("N/A", inplace=True)
sara3['common_units'] = sara3['common_units'].fillna('N/A', inplace=True)
sara3['comment'] = sara3['comment'].fillna("No Comment", inplace = True)

sara3 = sara3.drop(columns=['gtlt'])

In [22]:
sara3

,station_id,short_desc,long_desc,latitude,longitude,tag_id,end_date,end_time,end_depth,result,parameter_cd,long_desc.1,common_name,common_units,detailed_desc,units,media,method,county_name,comment
0,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,22.7,10,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",None,None,<p>Water temperature is an important factor in...,DEG C,Water,N/A Calculation,Bexar,None
1,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,0.03,61,"FLOW STREAM, INSTANTANEOUS (CUBIC FEET PER SEC)",None,None,NaN,CFS,Water,N/A Calculation,Bexar,None
2,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,603,94,"SPECIFIC CONDUCTANCE,FIELD (US/CM @ 25C)",None,None,<p>Total Dissolved Solids (TDS) is a measure o...,uS/cm,Water,N/A Calculation,Bexar,None
3,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,3,1351,"FLOW:1=No Flow,2=Low,3=Normal,4=Flood,5=High,6...",None,None,NaN,NS,Water,N/A Calculation,Bexar,None
4,12689,ROSILLO CREEK UPSTRM SALADO CR,ROSILLO CREEK 0.1 KM ABOVE SALADO CREEK CONFLU...,29.320101,-98.406263,SA10917T,09/18/2008,16:52,0.28,120,31699,"E. COLI, COLILERT, IDEXX METHOD, MPN/100ML",None,None,<p>These bacteria are typically not harmful to...,MPN/100ml,Water,N/A Calculation,Bexar,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208368,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,3,89966,"PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAI...",None,None,NaN,NS,Other,N/A Calculation,Bexar,None
208369,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,3,89969,WATER COLOR 1=BRWN 2=RED 3=GRN 4=BLCK 5=CLR 6=OT,None,None,NaN,NS,Water,N/A Calculation,Bexar,None
208370,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,6,89971,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",None,None,NaN,NU,Water,N/A Calculation,Bexar,None
208371,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,0,89978,"RECREATIONAL USE: 1 = PRIMARY CONTACT, OBSERVE...",None,None,NaN,NU,Other,N/A Calculation,Bexar,None
208372,22062,MEDINA RIVER AT WT MONTGOMERY,MEDINA RIVER AT WT MONTGOMERY ROAD 5.0 KILOMET...,29.336321,-98.742467,SA21410,03/11/2019,13:10,0.27,0,89979,EVIDENCE OF PRIMARY CONTACT RECREATION (1=OBSE...,None,None,NaN,NS,Other,N/A Calculation,Bexar,None

In [28]:
sara4 = sara3[['end_date', 'long_desc.1', 'result', 'short_desc']]

In [32]:
sara4 = sara4.sort_values('end_date').set_index('end_date')

In [33]:
sara4

                                                  long_desc.1 result
end_date
01/02/2002           SPECIFIC CONDUCTANCE,FIELD (US/CM @ 25C)    531
01/02/2002  FLOW:1=No Flow,2=Low,3=Normal,4=Flood,5=High,6...      5
01/02/2002  PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAI...      3
01/02/2002            TEMPERATURE, WATER (DEGREES CENTIGRADE)   17.7
01/02/2002                           OXYGEN, DISSOLVED (MG/L)    9.4
...                                                       ...    ...
12/31/2008  PRESENT WEATHER (1=CLEAR,2=PTCLDY,3=CLDY,4=RAI...      2
12/31/2008   WATER COLOR 1=BRWN 2=RED 3=GRN 4=BLCK 5=CLR 6=OT      3
12/31/2008  WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...      6
12/31/2008              DAYS SINCE PRECIPITATION EVENT (DAYS)      7
12/31/2008         E. COLI, COLILERT, IDEXX METHOD, MPN/100ML     28

[208373 rows x 2 columns]

In [35]:
eaa.head(5)

,Date-Time,O2 (Dis) mg/l,Nephelom NTU,pH,Sp Cond µS/cm,Temperature ¡C,Name,Latitude,Longitude
114,5/31/2013 0:00,10.87,6.9,7.48,616.142343,24.11,Rio Vista Park,29.8801,-97.93336
115,6/1/2013 0:00,10.91,13.3,7.52,616.681170,24.78,Rio Vista Park,29.8801,-97.93336
116,6/2/2013 0:00,11.04,85.3,7.46,617.033357,24.50,Rio Vista Park,29.8801,-97.93336
117,6/3/2013 0:00,11.13,7.8,7.40,614.028590,24.86,Rio Vista Park,29.8801,-97.93336
118,6/4/2013 0:00,11.06,9.1,7.40,615.791324,24.98,Rio Vista Park,29.8801,-97.93336