In [1]:
import pandas as pd

In [22]:
sso = pd.read_csv('SSO_with_zip_codes.csv', index_col=0)
df_311 = pd.read_csv('cleaned_311.csv', index_col=0)

In [23]:
sso.sample(3)

,report_date,spill_address_num,spill_st_name,total_gal,gals_ret,spill_start,spill_stop,hrs,cause,comments,...,root_cause,hrs_2,gal_2,hrs_3,gal_3,days_since_cleaned,total_gal_binned,country_address,location,zip_code
sso_id,,,,,,,,,,,,,,,,,,,,,
20,2010-11-03 00:00:00,714,GROVE BEND,25,0.0,2010-11-03 07:52:00,2010-11-03 08:17:00,0.416667,Rags,APPLIED HTH,...,debris,0.0,0.0,0.0,0.0,NaN,"(15, 50]","714 Grove Bend,SAN ANTONIO,Texas,USA","714, Grove Bend, Gordon's Grove, Alamo Ranch, ...",78253
5914,2016-05-24 00:00:00,680,BASSE RD E,1250,0.0,2016-05-24 08:32:00,2016-05-24 09:20:00,0.800000,Grease,Spill ContainedArea Cleaned and Disinfected,...,grease,0.0,0.0,0.0,0.0,NaN,"(1000, 5000]","680 E. Basse,SAN ANTONIO,Texas,USA","680, East Basse Road, San Antonio, Bexar Count...",78209
6375,2018-06-08 00:00:00,300,WALTON AVE,59,0.0,2018-06-08 09:49:00,2018-06-08 10:48:00,0.983333,Grease,Spill ContainedArea Cleaned and DisinfectedFlu...,...,structural,0.0,0.0,0.0,0.0,NaN,"(50, 250]","300 Walton Ave,SAN ANTONIO,Texas,USA","300, Walton Avenue, San Antonio, Bexar County,...",78225

In [14]:
df_311.sample(3)

,category,case_id,late,dept,reason_name,event_name,case_status,sourceid,event_address,council_district,...,zip_code,reported_date,closed_date,due_date,case_days,report_to_assigned_days,days_past_due,30_days,60_days,90_days
234496,Streets & Infrastructure,1015895698,NO,Trans & Cap Improvements,Storm Water,Drainage Investigation,Closed,Constituent Call,"2014 BEECHAVEN, San Antonio, 78207",5,...,78207,2019-10-25 00:00:00.000000,2019-10-25 00:00:00.000000,2020-01-10 00:00:00.000000,0,77,0,True,False,False
291853,Streets & Infrastructure,1015963519,NO,Trans & Cap Improvements,Storm Water,Drainage Inlet - Cleaning/Foul Odor,Closed,Constituent Call,"254 MARBAUCH AVE, San Antonio, 78237",6,...,78237,2019-12-05 00:00:00.000000,2019-12-18 00:00:00.000000,2020-01-03 00:00:00.000000,13,29,0,True,False,False
197131,Streets & Infrastructure,1015848754,NO,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Closed,Constituent Call,"2434 SW 410, San Antonio, 78227",4,...,78227,2019-10-01 00:00:00.000000,2019-10-02 00:00:00.000000,2019-11-13 00:00:00.000000,1,43,0,True,False,False

In [17]:
joined_df_merge = pd.merge(sso, df_311, on='zip_code')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [18]:
sso.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3183 entries, 0 to 3182
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sso_id               3183 non-null   int64
 1   report_date          3183 non-null   object
 2   spill_address_num    3183 non-null   int64
 3   spill_st_name        3183 non-null   object
 4   total_gal            3183 non-null   int64
 5   gals_ret             2708 non-null   float64
 6   spill_start          3183 non-null   object
 7   spill_stop           3183 non-null   object
 8   hrs                  3180 non-null   float64
 9   cause                3183 non-null   object
 10  comments             2650 non-null   object
 11  actions              3175 non-null   object
 12  watershed            3183 non-null   object
 13  unit_id              3179 non-null   object
 14  unit_id2             2939 non-null   object
 15  discharge_to         3179 non-null   object
 16  discharge_route      2356 non-null   object
 17  council_district     2861 non-null   float64
 18  month                3183 non-null   int64
 19  year                 3183 non-null   int64
 20  week                 3183 non-null   int64
 21  earz_zone            1865 non-null   float64
 22  pipe_diam            2993 non-null   float64
 23  pipe_len             2993 non-null   float64
 24  pipe_type            2993 non-null   object
 25  inst_year            3065 non-null   float64
 26  inches_no            2696 non-null   float64
 27  rainfall_last3       2641 non-null   float64
 28  spill_address_full   3140 non-null   object
 29  num_spills_recorded  3183 non-null   int64
 30  num_spills_24mos     3183 non-null   float64
 31  prevspill_24mos      3183 non-null   object
 32  unit_type            3166 non-null   object
 33  asset_type           3181 non-null   object
 34  last_cleaned         1101 non-null   object
 35  response_time        1249 non-null   float64
 36  response_dttm        1249 non-null   object
 37  public_notice        3183 non-null   bool
 38  root_cause           3176 non-null   object
 39  hrs_2                3183 non-null   float64
 40  gal_2                3183 non-null   float64
 41  hrs_3                3183 non-null   float64
 42  gal_3                3183 non-null   float64
 43  days_since_cleaned   1101 non-null   float64
 44  total_gal_binned     3183 non-null   object
 45  country_address      3140 non-null   object
 46  location             2238 non-null   object
 47  zip_code             3183 non-null   object
dtypes: bool(1), float64(16), int64(7), object(24)
memory usage: 1.2+ MB

In [19]:
df_311.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1677 entries, 8362 to 304395
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   category                 1677 non-null   object
 1   case_id                  1677 non-null   int64
 2   late                     1677 non-null   object
 3   dept                     1677 non-null   object
 4   reason_name              1677 non-null   object
 5   event_name               1677 non-null   object
 6   case_status              1677 non-null   object
 7   sourceid                 1677 non-null   object
 8   event_address            1677 non-null   object
 9   council_district         1677 non-null   int64
 10  report_start_date        1677 non-null   object
 11  report_ending_date       1677 non-null   object
 12  zip_code                 1677 non-null   int64
 13  reported_date            1677 non-null   object
 14  closed_date              1677 non-null   object
 15  due_date                 1677 non-null   object
 16  case_days                1677 non-null   int64
 17  report_to_assigned_days  1677 non-null   int64
 18  days_past_due            1677 non-null   int64
 19  30_days                  1677 non-null   bool
 20  60_days                  1677 non-null   bool
 21  90_days                  1677 non-null   bool
dtypes: bool(3), int64(6), object(13)
memory usage: 266.9+ KB