In [1]:
import pandas as pd

import prepare

In [9]:
water = pd.read_excel('https://storage.googleapis.com/sa_saws_data_20/External%20Geekdom%20Data%20April%2021.xlsx')
water

,Record #,Prefix,Service Location,Suffix,ZIP Code,201701,201702,201703,201704,201705,...,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912
0,1,NaN,BUENA VISTA,ST,78207,3740.0,3740.0,3740.0,2992.0,2992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,W,TRAVIS,ST,78207,8229.0,7481.0,8229.0,8229.0,7481.0,...,7481.0,6733.0,7481.0,9725.0,11222.0,9725.0,11222.0,10473.0,10473.0,10473.0
2,3,W,HOUSTON,ST,78207,4489.0,3740.0,3740.0,3740.0,3740.0,...,4489.0,4489.0,4489.0,6733.0,4489.0,5237.0,5237.0,5985.0,4489.0,4489.0
3,4,W,HOUSTON,ST,78207,1496.0,2244.0,748.0,1496.0,1496.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,BUENA VISTA,ST,78207,5237.0,4489.0,3740.0,4489.0,5237.0,...,748.0,1496.0,748.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706862,708592,NaN,ROBBINS GROVE,NaN,78245,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
706863,708593,NaN,DULLES,NaN,78251,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4489.0
706864,708594,NaN,HEIGHTS VALLEY,NaN,78109,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
706865,708595,NaN,SPRING LIFE,NaN,78249,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1496.0
706866,708596,NaN,BUENA VISTA,ST,78207,159345.0,3740.0,3740.0,2992.0,2992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706867 entries, 0 to 706866
Data columns (total 41 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Record #          706867 non-null  int64
 1   Prefix            44137 non-null   object
 2   Service Location  706867 non-null  object
 3   Suffix            321098 non-null  object
 4   ZIP Code          706867 non-null  int64
 5   201701            457074 non-null  float64
 6   201702            457570 non-null  float64
 7   201703            458684 non-null  float64
 8   201704            459359 non-null  float64
 9   201705            460668 non-null  float64
 10  201706            461155 non-null  float64
 11  201707            461680 non-null  float64
 12  201708            462188 non-null  float64
 13  201709            462340 non-null  float64
 14  201710            463001 non-null  float64
 15  201711            463734 non-null  float64
 16  201712            464231 non-null  float64
 17  201801            464813 non-null  float64
 18  201802            464787 non-null  float64
 19  201803            466143 non-null  float64
 20  201804            467026 non-null  float64
 21  201805            468337 non-null  float64
 22  201806            469188 non-null  float64
 23  201807            469593 non-null  float64
 24  201808            470138 non-null  float64
 25  201809            471361 non-null  float64
 26  201810            471578 non-null  float64
 27  201811            472021 non-null  float64
 28  201812            472737 non-null  float64
 29  201901            472702 non-null  float64
 30  201902            473291 non-null  float64
 31  201903            474240 non-null  float64
 32  201904            475165 non-null  float64
 33  201905            476248 non-null  float64
 34  201906            477156 non-null  float64
 35  201907            478382 non-null  float64
 36  201908            479230 non-null  float64
 37  201909            480013 non-null  float64
 38  201910            480902 non-null  float64
 39  201911            481543 non-null  float64
 40  201912            481984 non-null  float64
dtypes: float64(36), int64(2), object(3)
memory usage: 221.1+ MB