In [1]:
import pandas as pd
import acquire
pd.set_option('display.max_columns', None)

In [2]:
weather = acquire.acquire_weather()
weather

,STATION,DATE,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT05,WT06,WT07,WT08,WT09,WT10,WT11,WT13,WT16,WT17,WT18,WT19
0,USW00012921,2008-12-03,9.40,2302.0,2315.0,0.0,0.0,0.0,NaN,77,48,360,350.0,19.9,38.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,USW00012921,2008-12-04,11.41,828.0,506.0,0.0,0.0,0.0,NaN,61,39,20,350.0,21.0,29.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012921,2008-12-05,6.71,952.0,839.0,0.0,0.0,0.0,NaN,55,36,20,30.0,15.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012921,2008-12-06,3.80,1157.0,1132.0,0.0,0.0,0.0,NaN,69,30,240,270.0,10.1,14.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012921,2008-12-07,6.93,1557.0,1512.0,0.0,0.0,0.0,NaN,71,36,160,190.0,17.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,USW00012921,2019-03-30,13.87,NaN,NaN,0.0,0.0,0.0,67.0,70,51,10,20.0,32.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,USW00012921,2019-03-31,10.96,NaN,NaN,0.0,0.0,0.0,52.0,59,44,20,30.0,25.1,35.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,USW00012921,2019-04-01,5.59,NaN,NaN,0.0,0.0,0.0,51.0,62,42,130,130.0,12.1,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,USW00012921,2019-04-02,8.05,NaN,NaN,0.0,0.0,0.0,53.0,71,37,150,160.0,18.1,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,USW00012921,2019-04-03,11.41,NaN,NaN,0.0,0.0,0.0,62.0,68,57,150,150.0,21.9,25.1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
sso = acquire.acquire_sso()
sso

,SSO_ID,INSPKEY,SERVNO,REPORTDATE,SPILL_ADDRESS,SPILL_ST_NAME,TOTAL_GAL,GALSRET,GAL,SPILL_START,SPILL_STOP,HRS,CAUSE,COMMENTS,ACTIONS,WATERSHED,UNITID,UNITID2,DISCHARGE_TO,DISCHARGE_ROUTE,COUNCIL_DISTRICT,FERGUSON,Month,Year,Week,EARZ_ZONE,Expr1029,PIPEDIAM,PIPELEN,PIPETYPE,INSTYEAR,DWNDPTH,UPSDPTH,Inches_No,RainFall_Less3,SPILL ADDRESS,SewerAssetExp,NUM_SPILLS_COMPKEY,NUM_SPILLS_24MOS,PREVSPILL_24MOS,UNITTYPE,ASSETTYPE,LASTCLND,ResponseTime,ResponseDTTM,Public Notice,TIMEINT,Root_Cause,STEPS_TO_PREVENT,SPILL_START_2,SPILL_STOP_2,HRS_2,GAL_2,SPILL_START_3,SPILL_STOP_3,HRS_3,GAL_3
0,6582,567722.0,NaN,2019-03-10 00:00:00,3200,THOUSAND OAKS DR,2100,2100.0,2100.0,3/10/2019 1:16:00 PM,3/10/2019 2:40:00 PM,1.400000,Grease,Spill ContainedReturned to SystemArea Cleaned ...,CLEANED MAIN,SALADO CREEK,66918,66917,STREET,None,NaN,172A2,3,2019,11,0.0,NaN,8.0,16.550000,PVC,1997.0,NaN,NaN,NaN,NaN,3200 THOUSAND OAKS DR,NaN,1,1.0,NaN,GRAVITY,Sewer Main,NaN,0.450000,2019-03-10 13:43:00,False,24.0,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
1,6583,567723.0,NaN,2019-03-10 00:00:00,6804,S FLORES ST,80,0.0,80.0,3/10/2019 2:25:00 PM,3/10/2019 3:45:00 PM,1.333333,Grease,Spill ContainedArea Cleaned and Disinfected,CLEANED MAIN,DOS RIOS,24250,24193,STORMDRAIN,None,3.0,251A3,3,2019,11,0.0,NaN,8.0,157.000000,PVC,1988.0,NaN,NaN,NaN,NaN,6804 S FLORES,NaN,1,1.0,NaN,GRAVITY,Sewer Main,NaN,1.083333,2019-03-10 15:30:00,False,120.0,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
2,6581,567714.0,NaN,2019-03-09 00:00:00,215,AUDREY ALENE DR,79,0.0,10.0,3/9/2019 6:00:00 PM,3/9/2019 7:30:00 PM,1.500000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,DOS RIOS,2822,3351,ALLEY,None,1.0,190E4,3,2019,10,0.0,NaN,8.0,350.000000,CP,1955.0,NaN,NaN,NaN,NaN,215 Audrey Alene Dr,NaN,1,1.0,NaN,GRAVITY,Sewer Main,NaN,1.000000,2019-03-09 19:00:00,False,24.0,NaN,NaN,03/10/2019 09:36,03/10/2019 10:45,1.15,69.0,NaN,NaN,0.0,0.0
3,6584,567713.0,NaN,2019-03-09 00:00:00,3602,SE MILITARY DR,83,0.0,83.0,3/9/2019 3:37:00 PM,3/9/2019 5:00:00 PM,1.383333,Grease,Spill ContainedArea Cleaned and DisinfectedFlu...,NaN,SALADO CREEK,92804,92805,EASEMENT,None,3.0,252C3,3,2019,10,0.0,NaN,8.0,213.910000,PVC,1983.0,NaN,NaN,NaN,NaN,3602 SE MILITARY DR,NaN,1,1.0,NaN,GRAVITY,Sewer Main,NaN,0.550000,2019-03-09 16:10:00,False,120.0,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
4,6580,567432.0,NaN,2019-03-06 00:00:00,100,PANSY LN,75,0.0,75.0,3/6/2019 9:40:00 AM,3/6/2019 9:55:00 AM,0.250000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,SALADO CREEK,61141,49543,STREET,None,2.0,192A7,3,2019,10,0.0,NaN,12.0,291.900000,CP,1952.0,NaN,NaN,NaN,NaN,100 PANSY LN,NaN,2,2.0,2018-12-15 00:00:00,GRAVITY,Sewer Main,NaN,0.000000,2019-03-06 09:40:00,False,3.0,NaN,NaN,NaN,NaN,0.00,0.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,371,NaN,NaN,2009-01-06 00:00:00,2383,LOOP 410 NE,2000,NaN,2000.0,1/6/2009 12:00:00 PM,1/6/2009 1:00:00 PM,1.000000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,46343,59920,DRAINAGE CULVERT,NaN,10.0,552B8,1,2009,2,NaN,STRUCTURAL,8.0,400.000000,VCP,1966.0,NaN,NaN,NaN,NaN,NE LOOP 410 02383,NaN,1,NaN,NaN,GRAVITY,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,372,NaN,NaN,2009-01-05 00:00:00,7407,ELDERBERRY,800,NaN,800.0,1/5/2009 2:00:00 PM,1/5/2009 4:00:00 PM,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,89038,74015,STREET,NaN,7.0,547F7,1,2009,2,NaN,STRUCTURAL,8.0,151.877494,VCP,1976.0,NaN,NaN,NaN,NaN,ELDERBERRY 07407,2009-10-09 09:21:05,2,NaN,NaN,GRAVITY,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,373,NaN,NaN,2009-01-05 00:00:00,7019,BAYWATER,400,NaN,400.0,1/5/2009 11:00:00 AM,1/5/2009 11:45:00 AM,0.750000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,51874,51883,DRAINAGE CULVERT,NaN,8.0,580F2,1,2009,2,NaN,DEBRIS,8.0,380.870000,VCP,1958.0,NaN,NaN,NaN,NaN,BAYWATER DR 07019,NaN,1,NaN,NaN,GRAVITY,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,375,NaN,NaN,2009-01-05 00:00:00,12500,JOHN BARRY,25,NaN,25.0,1/5/2009 8:30:00 AM,1/5/2009 9:00:00 AM,0.500000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,50793,51175,DRAINAGE CULVERT,NaN,10.0,553B3,1,2009,2,NaN,STRUCTURAL,8.0,395.260000,VCP,1972.0,NaN,NaN,NaN,NaN,JOHN BARRY 125/1,NaN,1,NaN,NaN,GRAVITY,Sewer Main,NaN,NaN,NaN,False,NaN,STRUCTURAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,374,NaN,NaN,2009-01-03 00:00:00,215,BROADVIEW W,500,NaN,500.0,1/3/2009 9:00:00 AM,1/3/2009 11:00:00 AM,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,64143,75613,DRAINAGE CULVERT,NaN,7.0,580F7,1,2009,1,NaN,DEBRIS,8.0,159.325718,VCP,1957.0,NaN,NaN,NaN,NaN,NaN,2009-10-09 09:21:05,3,NaN,NaN,GRAVITY,Sewer Main,NaN,NaN,NaN,False,NaN,DEBRIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3774 entries, 0 to 3773
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  3774 non-null   object
 1   DATE     3774 non-null   object
 2   AWND     3774 non-null   float64
 3   FMTM     1063 non-null   float64
 4   PGTM     1025 non-null   float64
 5   PRCP     3774 non-null   float64
 6   SNOW     3774 non-null   float64
 7   SNWD     3774 non-null   float64
 8   TAVG     2194 non-null   float64
 9   TMAX     3774 non-null   int64
 10  TMIN     3774 non-null   int64
 11  WDF2     3774 non-null   int64
 12  WDF5     3763 non-null   float64
 13  WSF2     3774 non-null   float64
 14  WSF5     3763 non-null   float64
 15  WT01     1116 non-null   float64
 16  WT02     164 non-null    float64
 17  WT03     330 non-null    float64
 18  WT05     192 non-null    float64
 19  WT06     6 non-null      float64
 20  WT07     35 non-null     float64
 21  WT08     451 non-null    float64
 22  WT09     31 non-null     float64
 23  WT10     0 non-null      float64
 24  WT11     10 non-null     float64
 25  WT13     422 non-null    float64
 26  WT16     430 non-null    float64
 27  WT17     2 non-null      float64
 28  WT18     2 non-null      float64
 29  WT19     0 non-null      float64
dtypes: float64(25), int64(3), object(2)
memory usage: 884.7+ KB

In [5]:
weather = weather.drop(columns=['STATION', 'AWND', 'FMTM', 'PGTM', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'WT06', 'WT07', 'WT08', 'WT10', 'WT11', 'WT13', 'WT17', 'WT18', 'WT19'])
weather

,DATE,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WT01,WT02,WT03,WT05,WT09,WT16
0,2008-12-03,0.0,0.0,0.0,NaN,77,48,1.0,NaN,NaN,NaN,NaN,NaN
1,2008-12-04,0.0,0.0,0.0,NaN,61,39,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-12-05,0.0,0.0,0.0,NaN,55,36,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-12-06,0.0,0.0,0.0,NaN,69,30,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-12-07,0.0,0.0,0.0,NaN,71,36,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,2019-03-30,0.0,0.0,0.0,67.0,70,51,NaN,NaN,NaN,NaN,NaN,NaN
3770,2019-03-31,0.0,0.0,0.0,52.0,59,44,NaN,NaN,NaN,NaN,NaN,NaN
3771,2019-04-01,0.0,0.0,0.0,51.0,62,42,NaN,NaN,NaN,NaN,NaN,NaN
3772,2019-04-02,0.0,0.0,0.0,53.0,71,37,NaN,NaN,NaN,NaN,NaN,NaN
3773,2019-04-03,0.0,0.0,0.0,62.0,68,57,1.0,NaN,NaN,NaN,NaN,NaN

In [6]:
keys = weather.columns.tolist()

values = ['date', 'precipitation', 'snowfall', 'snow_depth', 'avg_temp', 'max_temp', 'min_temp', 'foggy', 'heavy_fog', 'thunder', 'hail', 'blowing_snow', 'rain']

col_name_dict = dict(zip(keys, values))

weather = weather.rename(columns=col_name_dict)
weather

,date,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain
0,2008-12-03,0.0,0.0,0.0,NaN,77,48,1.0,NaN,NaN,NaN,NaN,NaN
1,2008-12-04,0.0,0.0,0.0,NaN,61,39,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-12-05,0.0,0.0,0.0,NaN,55,36,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-12-06,0.0,0.0,0.0,NaN,69,30,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-12-07,0.0,0.0,0.0,NaN,71,36,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,2019-03-30,0.0,0.0,0.0,67.0,70,51,NaN,NaN,NaN,NaN,NaN,NaN
3770,2019-03-31,0.0,0.0,0.0,52.0,59,44,NaN,NaN,NaN,NaN,NaN,NaN
3771,2019-04-01,0.0,0.0,0.0,51.0,62,42,NaN,NaN,NaN,NaN,NaN,NaN
3772,2019-04-02,0.0,0.0,0.0,53.0,71,37,NaN,NaN,NaN,NaN,NaN,NaN
3773,2019-04-03,0.0,0.0,0.0,62.0,68,57,1.0,NaN,NaN,NaN,NaN,NaN

In [7]:
weather.avg_temp = weather.avg_temp.fillna((weather.max_temp + weather.min_temp) / 2)

In [8]:
weather

,date,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain
0,2008-12-03,0.0,0.0,0.0,62.5,77,48,1.0,NaN,NaN,NaN,NaN,NaN
1,2008-12-04,0.0,0.0,0.0,50.0,61,39,NaN,NaN,NaN,NaN,NaN,NaN
2,2008-12-05,0.0,0.0,0.0,45.5,55,36,NaN,NaN,NaN,NaN,NaN,NaN
3,2008-12-06,0.0,0.0,0.0,49.5,69,30,NaN,NaN,NaN,NaN,NaN,NaN
4,2008-12-07,0.0,0.0,0.0,53.5,71,36,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,2019-03-30,0.0,0.0,0.0,67.0,70,51,NaN,NaN,NaN,NaN,NaN,NaN
3770,2019-03-31,0.0,0.0,0.0,52.0,59,44,NaN,NaN,NaN,NaN,NaN,NaN
3771,2019-04-01,0.0,0.0,0.0,51.0,62,42,NaN,NaN,NaN,NaN,NaN,NaN
3772,2019-04-02,0.0,0.0,0.0,53.0,71,37,NaN,NaN,NaN,NaN,NaN,NaN
3773,2019-04-03,0.0,0.0,0.0,62.0,68,57,1.0,NaN,NaN,NaN,NaN,NaN

In [9]:
boolean_columns = ['foggy','heavy_fog','thunder','hail','blowing_snow','rain']

for column in boolean_columns:
    weather[f'{column}'] = weather[f'{column}'].fillna(0).astype(int)
    
weather

,date,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain
0,2008-12-03,0.0,0.0,0.0,62.5,77,48,1,0,0,0,0,0
1,2008-12-04,0.0,0.0,0.0,50.0,61,39,0,0,0,0,0,0
2,2008-12-05,0.0,0.0,0.0,45.5,55,36,0,0,0,0,0,0
3,2008-12-06,0.0,0.0,0.0,49.5,69,30,0,0,0,0,0,0
4,2008-12-07,0.0,0.0,0.0,53.5,71,36,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,2019-03-30,0.0,0.0,0.0,67.0,70,51,0,0,0,0,0,0
3770,2019-03-31,0.0,0.0,0.0,52.0,59,44,0,0,0,0,0,0
3771,2019-04-01,0.0,0.0,0.0,51.0,62,42,0,0,0,0,0,0
3772,2019-04-02,0.0,0.0,0.0,53.0,71,37,0,0,0,0,0,0
3773,2019-04-03,0.0,0.0,0.0,62.0,68,57,1,0,0,0,0,0

In [10]:
weather.date = pd.to_datetime(weather.date)

In [11]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3774 entries, 0 to 3773
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3774 non-null   datetime64[ns]
 1   precipitation  3774 non-null   float64
 2   snowfall       3774 non-null   float64
 3   snow_depth     3774 non-null   float64
 4   avg_temp       3774 non-null   float64
 5   max_temp       3774 non-null   int64
 6   min_temp       3774 non-null   int64
 7   foggy          3774 non-null   int64
 8   heavy_fog      3774 non-null   int64
 9   thunder        3774 non-null   int64
 10  hail           3774 non-null   int64
 11  blowing_snow   3774 non-null   int64
 12  rain           3774 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(8)
memory usage: 383.4 KB

In [12]:
weather = weather.sort_values("date").set_index("date")
weather

,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain
date,,,,,,,,,,,,
2008-12-03,0.0,0.0,0.0,62.5,77,48,1,0,0,0,0,0
2008-12-04,0.0,0.0,0.0,50.0,61,39,0,0,0,0,0,0
2008-12-05,0.0,0.0,0.0,45.5,55,36,0,0,0,0,0,0
2008-12-06,0.0,0.0,0.0,49.5,69,30,0,0,0,0,0,0
2008-12-07,0.0,0.0,0.0,53.5,71,36,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-30,0.0,0.0,0.0,67.0,70,51,0,0,0,0,0,0
2019-03-31,0.0,0.0,0.0,52.0,59,44,0,0,0,0,0,0
2019-04-01,0.0,0.0,0.0,51.0,62,42,0,0,0,0,0,0
2019-04-02,0.0,0.0,0.0,53.0,71,37,0,0,0,0,0,0
2019-04-03,0.0,0.0,0.0,62.0,68,57,1,0,0,0,0,0

In [13]:
weather.precipitation.rolling(7).mean()

date
2008-12-03             NaN
2008-12-04             NaN
2008-12-05             NaN
2008-12-06             NaN
2008-12-07             NaN
                  ...
2019-03-30    1.428571e-03
2019-03-31    1.428571e-03
2019-04-01    1.103532e-15
2019-04-02    1.103532e-15
2019-04-03    1.103532e-15
Name: precipitation, Length: 3774, dtype: float64

In [14]:
rolling_periods = [7, 14, 30]
features = ['precipitation', 'avg_temp', 'max_temp', 'min_temp']

for feature in features:
    for period in rolling_periods:
        weather[f'{feature}_rolling_{period}'] = weather[f'{feature}'].rolling(period).mean()
        
weather

,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain,precipitation_rolling_7,precipitation_rolling_14,precipitation_rolling_30,avg_temp_rolling_7,avg_temp_rolling_14,avg_temp_rolling_30,max_temp_rolling_7,max_temp_rolling_14,max_temp_rolling_30,min_temp_rolling_7,min_temp_rolling_14,min_temp_rolling_30
date,,,,,,,,,,,,,,,,,,,,,,,,
2008-12-03,0.0,0.0,0.0,62.5,77,48,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-04,0.0,0.0,0.0,50.0,61,39,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-05,0.0,0.0,0.0,45.5,55,36,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-06,0.0,0.0,0.0,49.5,69,30,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-07,0.0,0.0,0.0,53.5,71,36,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-30,0.0,0.0,0.0,67.0,70,51,0,0,0,0,0,0,1.428571e-03,0.019286,0.015333,68.000000,64.142857,60.733333,78.571429,75.142857,70.600000,58.428571,54.142857,51.266667
2019-03-31,0.0,0.0,0.0,52.0,59,44,0,0,0,0,0,0,1.428571e-03,0.019286,0.015000,65.571429,64.071429,60.833333,75.428571,74.785714,70.633333,55.428571,54.285714,51.200000
2019-04-01,0.0,0.0,0.0,51.0,62,42,0,0,0,0,0,0,1.103532e-15,0.019286,0.015000,62.428571,63.785714,60.666667,72.000000,74.357143,70.666667,52.428571,54.142857,50.833333
2019-04-02,0.0,0.0,0.0,53.0,71,37,0,0,0,0,0,0,1.103532e-15,0.019286,0.015000,60.285714,63.500000,60.733333,71.000000,74.571429,71.266667,49.714286,53.642857,50.866667
2019-04-03,0.0,0.0,0.0,62.0,68,57,1,0,0,0,0,0,1.103532e-15,0.000714,0.015000,60.000000,63.500000,61.633333,69.857143,74.071429,72.200000,50.428571,53.785714,51.766667

In [15]:
import prep_test

In [16]:
weather = prep_test.prep_weather_data()
weather

,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain,precipitation_rolling_7,precipitation_rolling_14,precipitation_rolling_30,avg_temp_rolling_7,avg_temp_rolling_14,avg_temp_rolling_30,max_temp_rolling_7,max_temp_rolling_14,max_temp_rolling_30,min_temp_rolling_7,min_temp_rolling_14,min_temp_rolling_30
date,,,,,,,,,,,,,,,,,,,,,,,,
2008-12-03,0.0,0.0,0.0,62.5,77,48,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-04,0.0,0.0,0.0,50.0,61,39,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-05,0.0,0.0,0.0,45.5,55,36,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-06,0.0,0.0,0.0,49.5,69,30,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-12-07,0.0,0.0,0.0,53.5,71,36,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-30,0.0,0.0,0.0,67.0,70,51,0,0,0,0,0,0,1.428571e-03,0.019286,0.015333,68.000000,64.142857,60.733333,78.571429,75.142857,70.600000,58.428571,54.142857,51.266667
2019-03-31,0.0,0.0,0.0,52.0,59,44,0,0,0,0,0,0,1.428571e-03,0.019286,0.015000,65.571429,64.071429,60.833333,75.428571,74.785714,70.633333,55.428571,54.285714,51.200000
2019-04-01,0.0,0.0,0.0,51.0,62,42,0,0,0,0,0,0,1.103532e-15,0.019286,0.015000,62.428571,63.785714,60.666667,72.000000,74.357143,70.666667,52.428571,54.142857,50.833333
2019-04-02,0.0,0.0,0.0,53.0,71,37,0,0,0,0,0,0,1.103532e-15,0.019286,0.015000,60.285714,63.500000,60.733333,71.000000,74.571429,71.266667,49.714286,53.642857,50.866667
2019-04-03,0.0,0.0,0.0,62.0,68,57,1,0,0,0,0,0,1.103532e-15,0.000714,0.015000,60.000000,63.500000,61.633333,69.857143,74.071429,72.200000,50.428571,53.785714,51.766667

In [17]:
import prepare

In [18]:
sso = prepare.prepare_sso_with_zipcodes()
sso

,sso_id,report_date,spill_address_num,spill_st_name,total_gal,gals_ret,spill_start,spill_stop,hrs,cause,comments,actions,watershed,unit_id,unit_id2,discharge_to,discharge_route,council_district,month,year,week,earz_zone,pipe_diam,pipe_len,pipe_type,inst_year,inches_no,rainfall_last3,spill_address_full,num_spills_recorded,num_spills_24mos,prevspill_24mos,unit_type,asset_type,last_cleaned,response_time,response_dttm,public_notice,root_cause,hrs_2,gal_2,hrs_3,gal_3,days_since_cleaned,total_gal_binned,country_address,location,zip_code
0,6582,2019-03-10,3200,THOUSAND OAKS DR,2100,2100.0,2019-03-10 13:16:00,2019-03-10 14:40:00,1.400000,Grease,Spill ContainedReturned to SystemArea Cleaned ...,CLEANED MAIN,SALADO CREEK,66918,66917,STREET,None,NaN,3,2019,11,0.0,8.0,16.550000,PVC,1997.0,NaN,NaN,3200 THOUSAND OAKS DR,1,1.0,0,GRAVITY,Sewer Main,NaN,27.0,2019-03-10 13:43:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(1000, 5000]","3200 THOUSAND OAKS DR,SAN ANTONIO,Texas,USA","3200, Thousand Oaks Drive, Horseshoe Bend, Los...",78746
1,6583,2019-03-10,6804,S FLORES ST,80,0.0,2019-03-10 14:25:00,2019-03-10 15:45:00,1.333333,Grease,Spill ContainedArea Cleaned and Disinfected,CLEANED MAIN,DOS RIOS,24250,24193,STORMDRAIN,None,3.0,3,2019,11,0.0,8.0,157.000000,PVC,1988.0,NaN,NaN,6804 S FLORES,1,1.0,0,GRAVITY,Sewer Main,NaN,65.0,2019-03-10 15:30:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","6804 S FLORES,SAN ANTONIO,Texas,USA","Flores, West Odessa, Ector County, Texas, Unit...",Texas
2,6581,2019-03-09,215,AUDREY ALENE DR,79,0.0,2019-03-09 18:00:00,2019-03-09 19:30:00,1.500000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,DOS RIOS,2822,3351,ALLEY,None,1.0,3,2019,10,0.0,8.0,350.000000,CP,1955.0,NaN,NaN,215 Audrey Alene Dr,1,1.0,0,GRAVITY,Sewer Main,NaN,60.0,2019-03-09 19:00:00,False,NaN,1.15,69.0,0.0,0.0,NaN,"(50, 250]","215 Audrey Alene Dr,SAN ANTONIO,Texas,USA","215, Audrey Alene Drive, San Antonio, Bexar Co...",78216
3,6584,2019-03-09,3602,SE MILITARY DR,83,0.0,2019-03-09 15:37:00,2019-03-09 17:00:00,1.383333,Grease,Spill ContainedArea Cleaned and DisinfectedFlu...,NaN,SALADO CREEK,92804,92805,EASEMENT,None,3.0,3,2019,10,0.0,8.0,213.910000,PVC,1983.0,NaN,NaN,3602 SE MILITARY DR,1,1.0,0,GRAVITY,Sewer Main,NaN,33.0,2019-03-09 16:10:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","3602 SE MILITARY DR,SAN ANTONIO,Texas,USA","Quality Suites, Southeast Military Drive, Hill...",78223
4,6580,2019-03-06,100,PANSY LN,75,0.0,2019-03-06 09:40:00,2019-03-06 09:55:00,0.250000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,SALADO CREEK,61141,49543,STREET,None,2.0,3,2019,10,0.0,12.0,291.900000,CP,1952.0,NaN,NaN,100 PANSY LN,2,2.0,2018-12-15 00:00:00,GRAVITY,Sewer Main,NaN,0.0,2019-03-06 09:40:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","100 PANSY LN,SAN ANTONIO,Texas,USA","Pansy Lane, San Antonio, Bexar County, Texas, ...",78209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,371,2009-01-06,2383,LOOP 410 NE,2000,NaN,2009-01-06 12:00:00,2009-01-06 13:00:00,1.000000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,46343,59920,DRAINAGE CULVERT,NaN,10.0,1,2009,2,NaN,8.0,400.000000,VCP,1966.0,NaN,NaN,NE LOOP 410 02383,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(1000, 5000]","NE LOOP 410 02383,SAN ANTONIO,Texas,USA","Northeast Loop 410, San Antonio, Bexar County,...",78220-1930
3179,372,2009-01-05,7407,ELDERBERRY,800,NaN,2009-01-05 14:00:00,2009-01-05 16:00:00,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,89038,74015,STREET,NaN,7.0,1,2009,2,NaN,8.0,151.877494,VCP,1976.0,NaN,NaN,ELDERBERRY 07407,2,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(250, 1000]","ELDERBERRY 07407,SAN ANTONIO,Texas,USA","Elderberry, Camp Willow, Guadalupe County, Tex...",Texas
3180,373,2009-01-05,7019,BAYWATER,400,NaN,2009-01-05 11:00:00,2009-01-05 11:45:00,0.750000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,51874,51883,DRAINAGE CULVERT,NaN,8.0,1,2009,2,NaN,8.0,380.870000,VCP,1958.0,NaN,NaN,BAYWATER DR 07019,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,debris,0.00,0.0,0.0,0.0,NaN,"(250, 1000]","BAYWATER DR 07019,SAN ANTONIO,Texas,USA","Baywater Drive, San Antonio, Bexar County, Tex...",78229
3181,375,2009-01-05,12500,JOHN BARRY,25,NaN,2009-01-05 08:30:00,2009-01-05 09:00:00,0.500000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,50793,51175,DRAINAGE CULVERT,NaN,10.0,1,2009,2,NaN,8.0,395.260000,VCP,1972.0,NaN,NaN,JOHN BARRY 125/1,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(15, 50]","JOHN BARRY 125/1,SAN ANTONIO,Texas,USA",NaN,None
3182,374,2009-01-03,215,BROADVIEW W,500,NaN,2009-01-03 09:00:00,2009-01-03 11:00:00,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,64143,75613,DRAINAGE CULVERT,NaN,7.0,1,2009,1,NaN,8.0,159.325718,VCP,1957.0,NaN,NaN,NaN,3,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,debris,0.00,0.0,0.0,0.0,NaN,"(250, 1000]",NaN,"Nanno, Comunità della Val di Non, Provincia di...",38012

In [19]:
prepare.prepare_311(acquire.acquire_311())

,category,case_id,late,dept,reason_name,event_name,case_status,sourceid,event_address,council_district,report_start_date,report_ending_date,zip_code,reported_date,closed_date,due_date,case_days,report_to_assigned_days,days_past_due,30_days,60_days,90_days
8487,Streets & Infrastructure,1015209199,YES,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Open,Constituent Call,"3304 MILITARY DR SE, San Antonio, 78223",3,6/13/2019,6/13/2020,78223.0,2019-01-17 00:00:00.000000,2020-06-22 17:07:43.929383,2019-03-04 00:00:00.000000,522,46,476,False,False,True
12524,Streets & Infrastructure,1015386299,YES,Trans & Cap Improvements,Storm Water,Drainage Inlet Repair,Open,Web Portal,"300 E CESAR CHAVEZ, San Antonio, 78207",1,6/13/2019,6/13/2020,78207.0,2019-03-26 00:00:00.000000,2020-06-22 17:07:43.929383,2019-06-20 00:00:00.000000,454,86,368,False,False,True
14087,Streets & Infrastructure,1015436654,YES,Trans & Cap Improvements,Storm Water,Drainage Investigation,Closed,Web Portal,"2718 LAKEHAVEN, San Antonio, 78222",2,6/13/2019,6/13/2020,78222.0,2019-04-11 00:00:00.000000,2019-06-18 00:00:00.000000,2019-06-17 00:00:00.000000,68,67,1,False,False,False
14451,Streets & Infrastructure,1015447120,NO,Trans & Cap Improvements,Storm Water,Drainage Inlet Repair,Closed,Web Portal,"202 DEVINE ST, San Antonio, 78210",1,6/13/2019,6/13/2020,78210.0,2019-04-15 00:00:00.000000,2019-07-05 00:00:00.000000,2019-07-12 00:00:00.000000,81,88,0,False,False,False
14577,Streets & Infrastructure,1015450562,NO,Trans & Cap Improvements,Storm Water,Drainage Investigation,Closed,Web Portal,BRIARCREST DR and BRIARMALL,10,6/13/2019,6/13/2020,NaN,2019-04-16 00:00:00.000000,2019-06-20 00:00:00.000000,2019-06-20 00:00:00.000000,65,65,0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316776,Streets & Infrastructure,1015977570,NO,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Closed,Constituent Call,"418 EMILIE ST, San Antonio, 78221",3,6/13/2019,6/13/2020,78221.0,2019-12-13 00:00:00.000000,2020-01-14 00:00:00.000000,2020-02-05 00:00:00.000000,32,54,0,False,True,False
316870,Streets & Infrastructure,1015977676,NO,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Closed,Web Portal,"1615 MEADOW WAY DR, San Antonio, 78227",6,6/13/2019,6/13/2020,78227.0,2019-12-13 00:00:00.000000,2019-12-17 00:00:00.000000,2020-02-05 00:00:00.000000,4,54,0,True,False,False
317012,Streets & Infrastructure,1015977843,NO,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Closed,Web Portal,"6000 BRIGHT VALLEY, San Antonio, 78242",4,6/13/2019,6/13/2020,78242.0,2019-12-13 00:00:00.000000,2019-12-19 00:00:00.000000,2020-02-06 00:00:00.000000,6,55,0,True,False,False
317073,Streets & Infrastructure,1015977918,NO,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Closed,Constituent Call,"7322 SCOTLAND, San Antonio, 78213",1,6/13/2019,6/13/2020,78213.0,2019-12-13 00:00:00.000000,2019-12-19 00:00:00.000000,2020-02-06 00:00:00.000000,6,55,0,True,False,False
387373,Streets & Infrastructure,1016048646,NO,Trans & Cap Improvements,Storm Water,Drainage Channel/Debris Removal,Closed,Web Portal,GODEK and VAN,4,6/13/2019,6/13/2020,NaN,2020-02-10 00:00:00.000000,2020-02-13 00:00:00.000000,2020-03-23 00:00:00.000000,3,42,0,True,False,False

In [20]:
sso.report_date

0      2019-03-10
1      2019-03-10
2      2019-03-09
3      2019-03-09
4      2019-03-06
          ...
3178   2009-01-06
3179   2009-01-05
3180   2009-01-05
3181   2009-01-05
3182   2009-01-03
Name: report_date, Length: 3183, dtype: datetime64[ns]

In [21]:
weather.index

DatetimeIndex(['2008-12-03', '2008-12-04', '2008-12-05', '2008-12-06',
               '2008-12-07', '2008-12-08', '2008-12-09', '2008-12-10',
               '2008-12-11', '2008-12-12',
               ...
               '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
               '2019-03-29', '2019-03-30', '2019-03-31', '2019-04-01',
               '2019-04-02', '2019-04-03'],
              dtype='datetime64[ns]', name='date', length=3774, freq=None)

In [22]:
sso.merge(weather, left_on='report_date', right_index=True)

,sso_id,report_date,spill_address_num,spill_st_name,total_gal,gals_ret,spill_start,spill_stop,hrs,cause,comments,actions,watershed,unit_id,unit_id2,discharge_to,discharge_route,council_district,month,year,week,earz_zone,pipe_diam,pipe_len,pipe_type,inst_year,inches_no,rainfall_last3,spill_address_full,num_spills_recorded,num_spills_24mos,prevspill_24mos,unit_type,asset_type,last_cleaned,response_time,response_dttm,public_notice,root_cause,hrs_2,gal_2,hrs_3,gal_3,days_since_cleaned,total_gal_binned,country_address,location,zip_code,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain,precipitation_rolling_7,precipitation_rolling_14,precipitation_rolling_30,avg_temp_rolling_7,avg_temp_rolling_14,avg_temp_rolling_30,max_temp_rolling_7,max_temp_rolling_14,max_temp_rolling_30,min_temp_rolling_7,min_temp_rolling_14,min_temp_rolling_30
0,6582,2019-03-10,3200,THOUSAND OAKS DR,2100,2100.0,2019-03-10 13:16:00,2019-03-10 14:40:00,1.400000,Grease,Spill ContainedReturned to SystemArea Cleaned ...,CLEANED MAIN,SALADO CREEK,66918,66917,STREET,None,NaN,3,2019,11,0.0,8.0,16.550000,PVC,1997.0,NaN,NaN,3200 THOUSAND OAKS DR,1,1.0,0,GRAVITY,Sewer Main,NaN,27.0,2019-03-10 13:43:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(1000, 5000]","3200 THOUSAND OAKS DR,SAN ANTONIO,Texas,USA","3200, Thousand Oaks Drive, Horseshoe Bend, Los...",78746,0.00,0.0,0.0,69.0,79,60,1,1,0,0,0,0,4.285714e-03,0.005714,0.016333,54.285714,55.285714,54.200000,65.857143,65.714286,64.533333,46.000000,47.642857,45.900000
1,6583,2019-03-10,6804,S FLORES ST,80,0.0,2019-03-10 14:25:00,2019-03-10 15:45:00,1.333333,Grease,Spill ContainedArea Cleaned and Disinfected,CLEANED MAIN,DOS RIOS,24250,24193,STORMDRAIN,None,3.0,3,2019,11,0.0,8.0,157.000000,PVC,1988.0,NaN,NaN,6804 S FLORES,1,1.0,0,GRAVITY,Sewer Main,NaN,65.0,2019-03-10 15:30:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","6804 S FLORES,SAN ANTONIO,Texas,USA","Flores, West Odessa, Ector County, Texas, Unit...",Texas,0.00,0.0,0.0,69.0,79,60,1,1,0,0,0,0,4.285714e-03,0.005714,0.016333,54.285714,55.285714,54.200000,65.857143,65.714286,64.533333,46.000000,47.642857,45.900000
2,6581,2019-03-09,215,AUDREY ALENE DR,79,0.0,2019-03-09 18:00:00,2019-03-09 19:30:00,1.500000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,DOS RIOS,2822,3351,ALLEY,None,1.0,3,2019,10,0.0,8.0,350.000000,CP,1955.0,NaN,NaN,215 Audrey Alene Dr,1,1.0,0,GRAVITY,Sewer Main,NaN,60.0,2019-03-09 19:00:00,False,NaN,1.15,69.0,0.0,0.0,NaN,"(50, 250]","215 Audrey Alene Dr,SAN ANTONIO,Texas,USA","215, Audrey Alene Drive, San Antonio, Bexar Co...",78216,0.03,0.0,0.0,74.0,87,60,1,0,0,0,0,0,4.285714e-03,0.005714,0.016333,51.714286,54.357143,53.300000,62.142857,64.785714,63.333333,42.571429,46.714286,45.133333
3,6584,2019-03-09,3602,SE MILITARY DR,83,0.0,2019-03-09 15:37:00,2019-03-09 17:00:00,1.383333,Grease,Spill ContainedArea Cleaned and DisinfectedFlu...,NaN,SALADO CREEK,92804,92805,EASEMENT,None,3.0,3,2019,10,0.0,8.0,213.910000,PVC,1983.0,NaN,NaN,3602 SE MILITARY DR,1,1.0,0,GRAVITY,Sewer Main,NaN,33.0,2019-03-09 16:10:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","3602 SE MILITARY DR,SAN ANTONIO,Texas,USA","Quality Suites, Southeast Military Drive, Hill...",78223,0.03,0.0,0.0,74.0,87,60,1,0,0,0,0,0,4.285714e-03,0.005714,0.016333,51.714286,54.357143,53.300000,62.142857,64.785714,63.333333,42.571429,46.714286,45.133333
4,6580,2019-03-06,100,PANSY LN,75,0.0,2019-03-06 09:40:00,2019-03-06 09:55:00,0.250000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,SALADO CREEK,61141,49543,STREET,None,2.0,3,2019,10,0.0,12.0,291.900000,CP,1952.0,NaN,NaN,100 PANSY LN,2,2.0,2018-12-15 00:00:00,GRAVITY,Sewer Main,NaN,0.0,2019-03-06 09:40:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","100 PANSY LN,SAN ANTONIO,Texas,USA","Pansy Lane, San Antonio, Bexar County, Texas, ...",78209,0.00,0.0,0.0,42.0,56,31,0,0,0,0,0,0,2.857143e-03,0.006429,0.015667,46.571429,52.357143,53.600000,55.142857,62.071429,62.866667,38.571429,45.000000,45.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,371,2009-01-06,2383,LOOP 410 NE,2000,NaN,2009-01-06 12:00:00,2009-01-06 13:00:00,1.000000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,46343,59920,DRAINAGE CULVERT,NaN,10.0,1,2009,2,NaN,8.0,400.000000,VCP,1966.0,NaN,NaN,NE LOOP 410 02383,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(1000, 5000]","NE LOOP 410 02383,SAN ANTONIO,Texas,USA","Northeast Loop 410, San Antonio, Bexar County,...",78220-1930,0.20,0.0,0.0,56.5,70,43,1,0,0,1,0,1,2.857143e-02,0.015714,0.015000,56.500000,58.107143,55.783333,67.000000,70.071429,67.600000,46.000000,46.142857,43.966667
3179,372,2009-01-05,7407,ELDERBERRY,800,NaN,2009-01-05 14:00:00,2009-01-05 16:00:00,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,89038,74015,STREET,NaN,7.0,1,2009,2,NaN,8.0,151.877494,VCP,1976.0,NaN,NaN,ELDERBERRY 07407,2,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(250, 1000]","ELDERBERRY 07407,SAN ANTONIO,Texas,USA","Elderberry, Camp Willow, Guadalupe County, Tex...",Texas,0.00,0.0,0.0,41.5,46,37,1,0,0,1,0,1,2.478176e-18,0.002143,0.008333,56.214286,57.071429,55.683333,67.714286,68.642857,67.633333,44.714286,45.500000,43.733333
3180,373,2009-01-05,7019,BAYWATER,400,NaN,2009-01-05 11:00:00,2009-01-05 11:45:00,0.750000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,51874,51883,DRAINAGE CULVERT,NaN,8.0,1,2009,2,NaN,8.0,380.870000,VCP,1958.0,NaN,NaN,BAYWATER DR 07019,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,debris,0.00,0.0,0.0,0.0,NaN,"(250, 1000]","BAYWATER DR 07019,SAN ANTONIO,Texas,USA","Baywater Drive, San Antonio, Bexar County, Tex...",78229,0.00,0.0,0.0,41.5,46,37,1,0,0,1,0,1,2.478176e-18,0.002143,0.008333,56.214286,57.071429,55.683333,67.714286,68.642857,67.633333,44.714286,45.500000,43.733333
3181,375,2009-01-05,12500,JOHN BARRY,25,NaN,2009-01-05 08:30:00,2009-01-05 09:00:00,0.500000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,50793,51175,DRAINAGE CULVERT,NaN,10.0,1,2009,2,NaN,8.0,395.260000,VCP,1972.0,NaN,NaN,JOHN BARRY 125/1,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(15, 50]","JOHN BARRY 125/1,SAN ANTONIO,Texas,USA",NaN,None,0.00,0.0,0.0,41.5,46,37,1,0,0,1,0,1,2.478176e-18,0.002143,0.008333,56.214286,57.071429,55.683333,67.714286,68.642857,67.633333,44.714286,45.500000,43.733333
3182,374,2009-01-03,215,BROADVIEW W,500,NaN,2009-01-03 09:00:00,2009-01-03 11:00:00,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,64143,75613,DRAINAGE CULVERT,NaN,7.0,1,2009,1,NaN,8.0,159.325718,VCP,1957.0,NaN,NaN,NaN,3,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,debris,0.00,0.0,0.0,0.0,NaN,"(250, 1000]",NaN,"Nanno, Comunità della Val di Non, Provincia di...",38012,0.00,0.0,0.0,68.5,83,54,1,1,0,0,1,0,2.478176e-18,0.002143,0.008333,56.857143,56.500000,55.633333,70.857143,68.357143,68.166667,42.857143,44.642857,43.100000

In [23]:
prepare.get_data()

,sso_id,report_date,spill_address_num,spill_st_name,total_gal,gals_ret,spill_start,spill_stop,hrs,cause,comments,actions,watershed,unit_id,unit_id2,discharge_to,discharge_route,council_district,month,year,week,earz_zone,pipe_diam,pipe_len,pipe_type,inst_year,inches_no,rainfall_last3,spill_address_full,num_spills_recorded,num_spills_24mos,prevspill_24mos,unit_type,asset_type,last_cleaned,response_time,response_dttm,public_notice,root_cause,hrs_2,gal_2,hrs_3,gal_3,days_since_cleaned,total_gal_binned,country_address,location,zip_code,precipitation,snowfall,snow_depth,avg_temp,max_temp,min_temp,foggy,heavy_fog,thunder,hail,blowing_snow,rain,precipitation_rolling_7,precipitation_rolling_14,precipitation_rolling_30,avg_temp_rolling_7,avg_temp_rolling_14,avg_temp_rolling_30,max_temp_rolling_7,max_temp_rolling_14,max_temp_rolling_30,min_temp_rolling_7,min_temp_rolling_14,min_temp_rolling_30
0,6582,2019-03-10,3200,THOUSAND OAKS DR,2100,2100.0,2019-03-10 13:16:00,2019-03-10 14:40:00,1.400000,Grease,Spill ContainedReturned to SystemArea Cleaned ...,CLEANED MAIN,SALADO CREEK,66918,66917,STREET,None,NaN,3,2019,11,0.0,8.0,16.550000,PVC,1997.0,NaN,NaN,3200 THOUSAND OAKS DR,1,1.0,0,GRAVITY,Sewer Main,NaN,27.0,2019-03-10 13:43:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(1000, 5000]","3200 THOUSAND OAKS DR,SAN ANTONIO,Texas,USA","3200, Thousand Oaks Drive, Horseshoe Bend, Los...",78746,0.00,0.0,0.0,69.0,79,60,1,1,0,0,0,0,4.285714e-03,0.005714,0.016333,54.285714,55.285714,54.200000,65.857143,65.714286,64.533333,46.000000,47.642857,45.900000
1,6583,2019-03-10,6804,S FLORES ST,80,0.0,2019-03-10 14:25:00,2019-03-10 15:45:00,1.333333,Grease,Spill ContainedArea Cleaned and Disinfected,CLEANED MAIN,DOS RIOS,24250,24193,STORMDRAIN,None,3.0,3,2019,11,0.0,8.0,157.000000,PVC,1988.0,NaN,NaN,6804 S FLORES,1,1.0,0,GRAVITY,Sewer Main,NaN,65.0,2019-03-10 15:30:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","6804 S FLORES,SAN ANTONIO,Texas,USA","Flores, West Odessa, Ector County, Texas, Unit...",Texas,0.00,0.0,0.0,69.0,79,60,1,1,0,0,0,0,4.285714e-03,0.005714,0.016333,54.285714,55.285714,54.200000,65.857143,65.714286,64.533333,46.000000,47.642857,45.900000
2,6581,2019-03-09,215,AUDREY ALENE DR,79,0.0,2019-03-09 18:00:00,2019-03-09 19:30:00,1.500000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,DOS RIOS,2822,3351,ALLEY,None,1.0,3,2019,10,0.0,8.0,350.000000,CP,1955.0,NaN,NaN,215 Audrey Alene Dr,1,1.0,0,GRAVITY,Sewer Main,NaN,60.0,2019-03-09 19:00:00,False,NaN,1.15,69.0,0.0,0.0,NaN,"(50, 250]","215 Audrey Alene Dr,SAN ANTONIO,Texas,USA","215, Audrey Alene Drive, San Antonio, Bexar Co...",78216,0.03,0.0,0.0,74.0,87,60,1,0,0,0,0,0,4.285714e-03,0.005714,0.016333,51.714286,54.357143,53.300000,62.142857,64.785714,63.333333,42.571429,46.714286,45.133333
3,6584,2019-03-09,3602,SE MILITARY DR,83,0.0,2019-03-09 15:37:00,2019-03-09 17:00:00,1.383333,Grease,Spill ContainedArea Cleaned and DisinfectedFlu...,NaN,SALADO CREEK,92804,92805,EASEMENT,None,3.0,3,2019,10,0.0,8.0,213.910000,PVC,1983.0,NaN,NaN,3602 SE MILITARY DR,1,1.0,0,GRAVITY,Sewer Main,NaN,33.0,2019-03-09 16:10:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","3602 SE MILITARY DR,SAN ANTONIO,Texas,USA","Quality Suites, Southeast Military Drive, Hill...",78223,0.03,0.0,0.0,74.0,87,60,1,0,0,0,0,0,4.285714e-03,0.005714,0.016333,51.714286,54.357143,53.300000,62.142857,64.785714,63.333333,42.571429,46.714286,45.133333
4,6580,2019-03-06,100,PANSY LN,75,0.0,2019-03-06 09:40:00,2019-03-06 09:55:00,0.250000,Structural,Spill ContainedArea Cleaned and DisinfectedFlu...,CLEANED MAIN,SALADO CREEK,61141,49543,STREET,None,2.0,3,2019,10,0.0,12.0,291.900000,CP,1952.0,NaN,NaN,100 PANSY LN,2,2.0,2018-12-15 00:00:00,GRAVITY,Sewer Main,NaN,0.0,2019-03-06 09:40:00,False,NaN,0.00,0.0,0.0,0.0,NaN,"(50, 250]","100 PANSY LN,SAN ANTONIO,Texas,USA","Pansy Lane, San Antonio, Bexar County, Texas, ...",78209,0.00,0.0,0.0,42.0,56,31,0,0,0,0,0,0,2.857143e-03,0.006429,0.015667,46.571429,52.357143,53.600000,55.142857,62.071429,62.866667,38.571429,45.000000,45.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3178,371,2009-01-06,2383,LOOP 410 NE,2000,NaN,2009-01-06 12:00:00,2009-01-06 13:00:00,1.000000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,46343,59920,DRAINAGE CULVERT,NaN,10.0,1,2009,2,NaN,8.0,400.000000,VCP,1966.0,NaN,NaN,NE LOOP 410 02383,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(1000, 5000]","NE LOOP 410 02383,SAN ANTONIO,Texas,USA","Northeast Loop 410, San Antonio, Bexar County,...",78220-1930,0.20,0.0,0.0,56.5,70,43,1,0,0,1,0,1,2.857143e-02,0.015714,0.015000,56.500000,58.107143,55.783333,67.000000,70.071429,67.600000,46.000000,46.142857,43.966667
3179,372,2009-01-05,7407,ELDERBERRY,800,NaN,2009-01-05 14:00:00,2009-01-05 16:00:00,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,89038,74015,STREET,NaN,7.0,1,2009,2,NaN,8.0,151.877494,VCP,1976.0,NaN,NaN,ELDERBERRY 07407,2,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(250, 1000]","ELDERBERRY 07407,SAN ANTONIO,Texas,USA","Elderberry, Camp Willow, Guadalupe County, Tex...",Texas,0.00,0.0,0.0,41.5,46,37,1,0,0,1,0,1,2.478176e-18,0.002143,0.008333,56.214286,57.071429,55.683333,67.714286,68.642857,67.633333,44.714286,45.500000,43.733333
3180,373,2009-01-05,7019,BAYWATER,400,NaN,2009-01-05 11:00:00,2009-01-05 11:45:00,0.750000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,51874,51883,DRAINAGE CULVERT,NaN,8.0,1,2009,2,NaN,8.0,380.870000,VCP,1958.0,NaN,NaN,BAYWATER DR 07019,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,debris,0.00,0.0,0.0,0.0,NaN,"(250, 1000]","BAYWATER DR 07019,SAN ANTONIO,Texas,USA","Baywater Drive, San Antonio, Bexar County, Tex...",78229,0.00,0.0,0.0,41.5,46,37,1,0,0,1,0,1,2.478176e-18,0.002143,0.008333,56.214286,57.071429,55.683333,67.714286,68.642857,67.633333,44.714286,45.500000,43.733333
3181,375,2009-01-05,12500,JOHN BARRY,25,NaN,2009-01-05 08:30:00,2009-01-05 09:00:00,0.500000,Debris/Rock,CLEANED MAIN,APPLIED HTH,SALADO CREEK,50793,51175,DRAINAGE CULVERT,NaN,10.0,1,2009,2,NaN,8.0,395.260000,VCP,1972.0,NaN,NaN,JOHN BARRY 125/1,1,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,structural,0.00,0.0,0.0,0.0,NaN,"(15, 50]","JOHN BARRY 125/1,SAN ANTONIO,Texas,USA",NaN,None,0.00,0.0,0.0,41.5,46,37,1,0,0,1,0,1,2.478176e-18,0.002143,0.008333,56.214286,57.071429,55.683333,67.714286,68.642857,67.633333,44.714286,45.500000,43.733333
3182,374,2009-01-03,215,BROADVIEW W,500,NaN,2009-01-03 09:00:00,2009-01-03 11:00:00,2.000000,Rags,CLEANED MAIN,APPLIED HTH,LEON CREEK,64143,75613,DRAINAGE CULVERT,NaN,7.0,1,2009,1,NaN,8.0,159.325718,VCP,1957.0,NaN,NaN,NaN,3,0.0,0,GRAVITY,Sewer Main,NaN,NaN,NaT,False,debris,0.00,0.0,0.0,0.0,NaN,"(250, 1000]",NaN,"Nanno, Comunità della Val di Non, Provincia di...",38012,0.00,0.0,0.0,68.5,83,54,1,1,0,0,1,0,2.478176e-18,0.002143,0.008333,56.857143,56.500000,55.633333,70.857143,68.357143,68.166667,42.857143,44.642857,43.100000